<div class="container">
  <div class="rowalign-items-center">
    <div class="col-auto mx-auto">
      <h1>New Picture</h1>

      <%= render 'form', picture: @picture %>

      <%= link_to 'Back', pictures_path %>
    </div>
  </div>
</div>
